<div *ngIf="this.doctorService.vitalSignsOPDs?.length > 0">
  <div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
        <button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed">
          <span>&#9733; <b>Vital Signs OPD</b> &#9733;</span>
        </button>
      </div>
      <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed">
        <div *ngFor="let vitalSignsOPD of this.doctorService.vitalSignsOPDs | slice:0:1;">
          <div class="row">
            <div class="col-md-4">
              <strong>Observation Item</strong>
            </div>
            <div class="col-md-8"><strong>{{vitalSignsOPD.ObsDate | date: 'dd/MM/yyyy'}} {{vitalSignsOPD.ObsTime}}</strong></div>
          </div>
          <div class="row" *ngIf="vitalSignsOPD.Weight != null">
            <div class="col-md-2">
              <strong>Weight</strong>
            </div>
            <div class="col-md-2">
              <mark>Kilogram</mark>
            </div>
            <div class="col-md-2 bg-info">{{vitalSignsOPD.Weight}}</div>
          </div>
          <div class="row" *ngIf="vitalSignsOPD.Height != null">
            <div class="col-md-2">
              <strong>Height</strong>
            </div>
            <div class="col-md-2">
              <mark>cm</mark>
            </div>
            <div class="col-md-2">{{vitalSignsOPD.Height}}</div>
          </div>
          <div class="row" *ngIf="vitalSignsOPD.Temperature != null">
            <div class="col-md-2">
              <strong>Temperature</strong>
            </div>
            <div class="col-md-2">
              <mark>C</mark>
            </div>
            <div class="col-md-2 bg-info">{{vitalSignsOPD.Temperature}}</div>
          </div>
          <div class="row" *ngIf="vitalSignsOPD.Systolic != null || vitalSignsOPD.Diastolic !=null">
            <div class="col-md-2">
              <strong>Systolic / Diastolic</strong>
            </div>
            <div class="col-md-2">
              <mark>mmHg</mark>
            </div>
            <div class="col-md-2">{{vitalSignsOPD.Systolic}} / {{vitalSignsOPD.Diastolic}}</div>
          </div>
          <div class="row" *ngIf="vitalSignsOPD.Pulse != null">
            <div class="col-md-2">
              <strong>Pulse</strong>
            </div>
            <div class="col-md-2">
              <mark>bt/min</mark>
            </div>
            <div class="col-md-2 bg-info">{{vitalSignsOPD.Pulse}}</div>
          </div>
          <div class="row" *ngIf="vitalSignsOPD.Respirations != null">
            <div class="col-md-2">
              <strong>Respirations</strong>
            </div>
            <div class="col-md-2">
              <mark>br/min</mark>
            </div>
            <div class="col-md-2">{{vitalSignsOPD.Respirations}}</div>
          </div>
          <div class="row" *ngIf="vitalSignsOPD.BMI != null">
            <div class="col-md-2">
              <strong>BMI</strong>
            </div>
            <div class="col-md-2">
              <mark>kg/m2</mark>
            </div>
            <div class="col-md-2 bg-info">{{vitalSignsOPD.BMI}}</div>
          </div>
          <div class="row" *ngIf="vitalSignsOPD.OxygenSaturation != null">
            <div class="col-md-2">
              <strong>Oxygen Saturation</strong>
            </div>
            <div class="col-md-2">
              <mark>%</mark>
            </div>
            <div class="col-md-2">{{vitalSignsOPD.OxygenSaturation}}</div>
          </div>

          <br />
        </div>
      </div>
    </div>
  </div>
</div>
