<accordion>
  <accordion-group heading="Scan Documents" [isOpen]="isScanDocumentsOpen">

    <nav class="breadcrumb">
      <a class="breadcrumb-item active" href="#">Doctors</a>
      <a class="breadcrumb-item" href="#">Document Type</a>
      <a class="breadcrumb-item" href="#">All</a>
      <!-- Breadcrumb Menu-->
      <div class="breadcrumb-menu">
      </div>
    </nav>

    <embed src="http://10.90.10.18/BwcOpdRecordApi/api/OpdRecord/GetDocument/81-17-000017/1164" type="image/jpg" width="100%"
      height="100%">

    <!-- 4:3 aspect ratio -->
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="http://10.90.10.18/BwcOpdRecordApi/api/OpdRecord/GetDocument/81-17-000017/489"
        allowfullscreen></iframe>
    </div>
  </accordion-group>
</accordion>
