<accordion>
  <accordion-group heading="Scan Documents" [isOpen]="isScanDocumentsOpen">

    <tabset>
      <tab [active]="this.episodeService.documentFilter.isDoctorsActive">
        <ng-template tabHeading>
          <div (click)="setDocumentFilterCurrentActive(DocumentFilter.Doctors)">
            <i class="icon-docs"></i>
            Doctors
          </div>
        </ng-template>
        <div *ngIf="this.episodeService.documentFilter.isDoctorsActive">
          <app-doctors-filter></app-doctors-filter>
        </div>
      </tab>
      <tab [active]="this.episodeService.documentFilter.isDocumentTypesActive">
        <ng-template tabHeading>
          <div (click)="setDocumentFilterCurrentActive(DocumentFilter.DocumentTypes)">
            <i class="icon-docs"></i>
            Document Type
          </div>
        </ng-template>
        <div *ngIf="this.episodeService.documentFilter.isDocumentTypesActive">
          <app-document-types-filter></app-document-types-filter>
        </div>
      </tab>
      <tab [active]="this.episodeService.documentFilter.isDocumentsActive">
        <ng-template tabHeading>
          <div (click)="setDocumentFilterCurrentActive(DocumentFilter.All)">
            <i class="icon-docs"></i>
            All
          </div>
        </ng-template>
        <div *ngIf="this.episodeService.documentFilter.isDocumentsActive">
          <app-document-all-filter></app-document-all-filter>
        </div>
      </tab>
    </tabset>
  </accordion-group>
</accordion>
