<accordion>
  <accordion-group heading="Scan Documents" [isOpen]="isScanDocumentsOpen">

    <tabset>
      <tab [active]="this.episodeService.documentFilter.isDoctorsActive">
        <ng-template tabHeading>
          <div (click)="setDocumentFilterCurrentActive(DocumentFilter.Doctors)">
            <i class="icon-docs"></i>
            Doctors
          </div>
        </ng-template>
        <div>
          <app-doctors-filter></app-doctors-filter>
        </div>
      </tab>
      <tab [active]="this.episodeService.documentFilter.isDocumentTypesActive">
        <ng-template tabHeading>
          <div (click)="setDocumentFilterCurrentActive(DocumentFilter.DocumentTypes)">
            <i class="icon-docs"></i>
            Document Type
          </div>
        </ng-template>
        <div>
          <app-document-types-filter></app-document-types-filter>
        </div>
      </tab>
      <tab [active]="this.episodeService.documentFilter.isDocumentsActive">
        <ng-template tabHeading>
          <div (click)="setDocumentFilterCurrentActive(DocumentFilter.All)">
            <i class="icon-docs"></i>
            All
          </div>
        </ng-template>
        <div>
          <app-document-all-filter></app-document-all-filter>
        </div>
      </tab>
    </tabset>

    <!-- <embed src="http://10.90.10.18/BwcOpdRecordApi/api/OpdRecord/GetDocument/81-17-000017/1164" type="image/jpg" width="100%"
      height="100%"> -->

    <!-- 4:3 aspect ratio -->
    <!-- <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="http://10.90.10.18/BwcOpdRecordApi/api/OpdRecord/GetDocument/81-17-000017/489"
        allowfullscreen></iframe>
    </div> -->
  </accordion-group>
</accordion>
