<div *ngIf="this.doctorService.physicalExams">
  <div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
        <button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed">
          Physical Exam Anti Aging
        </button>
      </div>
      <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed">
        <div *ngFor="let antiAging of this.doctorService.physicalExams.AntiAgings">

          <!--History-->
          <div class="card-header">
            <div (click)="isHistory = !isHistory">
              History
            </div>
          </div>
          <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isHistory">
            <div class="row">
              <!--<div class="col-md-1"></div>-->
              <div class="col-md-3"><strong>Chief Complaint</strong></div>
              <div class="col-md-9">{{antiAging.History.ChiefComplaint}}</div>
            </div>
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-2"><strong>Other</strong>  </div>
              <div class="col-md-8">{{antiAging.History.ChiefComplaintOther}}</div>
            </div>

            <div class="row">
              <!--<div class="col-md-1"></div>-->
              <div class="col-md-3"><strong>Present illness</strong> </div>
              <div class="col-md-9">{{antiAging.History.PresentIllness}}</div>
            </div>

            <div class="row">
              <!--<div class="col-md-1"></div>-->
              <div class="col-md-3"><strong>Underlying Disease</strong> </div>
              <div class="col-md-9">{{antiAging.History.UnderlyingDisease}}</div>
            </div>

            <div class="row">
              <!--<div class="col-md-1"></div>-->
              <div class="col-md-3"><strong>Current Medication</strong> </div>
              <div class="col-md-9">{{antiAging.History.CurrentMedication}}</div>
            </div>

            <div class="row">
              <!--<div class="col-md-1"></div>-->
              <div class="col-md-3"><strong>Supplementation</strong> </div>
              <div class="col-md-9">{{antiAging.History.Supplementation}}</div>
            </div>

            <div class="row">
              <!--<div class="col-md-1"></div>-->
              <div class="col-md-3"><strong>History of Investigation</strong> </div>
              <div class="col-md-9">{{antiAging.History.HistoryInvestigation}}</div>
            </div>

            <div class="row">
              <!--<div class="col-md-1"></div>-->
              <div class="col-md-3"><strong>GI</strong> </div>
              <div class="col-md-9">{{antiAging.History.GI}}</div>
            </div>

            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-2"><strong>Other</strong> </div>
              <div class="col-md-9">{{antiAging.History.GIOther}}</div>
            </div>

            <div class="row">
              <!--<div class="col-md-1"></div>-->
              <div class="col-md-3"><strong>Sleep</strong> </div>
              <div class="col-md-9">{{antiAging.History.Sleep}}</div>
            </div>

            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-2"> </div>
              <div class="col-md-1">{{antiAging.History.SleepHours}}</div>
              <div class="col-md-3"><strong>Hours/Day Other</strong></div>
              <div class="col-md-5">{{antiAging.History.SleepOther}}</div>
            </div>

            <div class="row">
              <!--<div class="col-md-1"></div>-->
              <div class="col-md-3"><strong>Skin</strong> </div>
              <div class="col-md-9">{{antiAging.History.Skin}}</div>
            </div>
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-2"><strong>Other</strong> </div>
              <div class="col-md-9">{{antiAging.History.SkinOther}}</div>
            </div>

            <div class="row">
              <!--<div class="col-md-1"></div>-->
              <div class="col-md-3"><strong>Memory</strong> </div>
              <div class="col-md-9">{{antiAging.History.Memory}}</div>
            </div>
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-2"><strong>Other</strong> </div>
              <div class="col-md-9">{{antiAging.History.MemoryOther}}</div>
            </div>

            <div class="row">
              <!--<div class="col-md-1"></div>-->
              <div class="col-md-3"><strong>Immune</strong> </div>
              <div class="col-md-9">{{antiAging.History.Immune}}</div>
            </div>
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-2"><strong>Other</strong> </div>
              <div class="col-md-9">{{antiAging.History.ImmuneOther}}</div>
            </div>

            <div class="row">
              <!--<div class="col-md-1"></div>-->
              <div class="col-md-3"><strong>Sexual Health</strong> </div>
              <div class="col-md-9">{{antiAging.History.Sexual}}</div>
            </div>
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-2"><strong>Other</strong> </div>
              <div class="col-md-9">{{antiAging.History.SexualOther}}</div>
            </div>

            <div class="row">
              <div class="col-md-3"><strong>Exercise</strong> </div>
              <div class="col-md-9">{{antiAging.History.Exercise}}</div>
            </div>
          </div>
          <!--End History-->

          <!--Genetic-->
          <div class="card-header">
            <div (click)="isGenetic = !isGenetic">
              Genetic
            </div>
          </div>
          <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isGenetic">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-10">{{antiAging.Genetic.Genetic}}</div>
            </div>
          </div>
          <!--End Genetic-->

          <!--Family History-->
          <div class="card-header">
            <div (click)="isFamilyHistory = !isFamilyHistory">
              Family History
            </div>
          </div>
          <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isFamilyHistory">
            <div class="row">
              <div class="col-md-3">
                <strong>Father</strong>
              </div>
              <div class="col-md-9">{{antiAging.FamilyHistory.Father}}</div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <strong>Mother</strong>
              </div>
              <div class="col-md-9">{{antiAging.FamilyHistory.Mother}}</div>
            </div>
          </div>
          <!--End Family History-->

          <!--Physical Examination-->
          <div class="card-header">
            <div (click)="isPhysicalExamination = !isPhysicalExamination">
              Physical Examination
            </div>
          </div>
          <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isPhysicalExamination">
            <div class="row">
              <div class="col-md-3">
                <strong>General Appearance</strong>
              </div>
              <div class="col-md-9">{{antiAging.PhysicalExamination.GeneralAppearance}}</div>
            </div>
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-9">{{antiAging.PhysicalExamination.GeneralOther}}</div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <strong>ENT</strong>
              </div>
              <div class="col-md-9">{{antiAging.PhysicalExamination.ENT}}</div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <strong>Pharynx</strong>
              </div>
              <div class="col-md-9">{{antiAging.PhysicalExamination.Pharynx}}</div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <strong>Tonsils</strong>
              </div>
              <div class="col-md-9">{{antiAging.PhysicalExamination.Tonsils}}</div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <strong>Neck node</strong>
              </div>
              <div class="col-md-9">{{antiAging.PhysicalExamination.NeckNode}}</div>
            </div>
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-9">{{antiAging.PhysicalExamination.NeckNodeOther}}</div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <strong>Respiratory</strong>
              </div>
              <div class="col-md-9">{{antiAging.PhysicalExamination.Respiratory}}</div>
            </div>
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-9">{{antiAging.PhysicalExamination.RespiratoryOther}}</div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <strong>Cardiovascular</strong>
              </div>
              <div class="col-md-9">{{antiAging.PhysicalExamination.Cardiovascular}}</div>
            </div>
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-9">{{antiAging.PhysicalExamination.CardiovascularOther}}</div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <strong>Abdomen</strong>
              </div>
              <div class="col-md-9">{{antiAging.PhysicalExamination.Abdomen}}</div>
            </div>
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-9">{{antiAging.PhysicalExamination.AbdomenOther}}</div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <strong>Physical Exam</strong>
              </div>
              <div class="col-md-9">{{antiAging.PhysicalExamination.PhysicalExam}}</div>
            </div>
          </div>
          <!--End Physical Examination-->

          <!-- <div class="row">
            <div class="col-md-2">
                <strong>Doctor</strong>
            </div>
            <div class="col-md-10">
              {{antiAging.Doctor}}
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
