<div *ngIf="this.doctorService.planAndTreatments?.length > 0">
  <div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
        <button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed">
          <span>&#9733;
            <b>BWC Treatment</b> &#9733;</span>
        </button>
      </div>
      <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed">
        <div *ngFor="let item of this.doctorService.planAndTreatments">

          <!-- Plan and Treatment -->
          <div class="card-header">
            <div (click)="isPlanAndTreatment = !isPlanAndTreatment">
              <span>
                <b class="lead">Plan and Treatment {{item.QUESDate | date: 'dd/MM/yyyy'}} {{item.QUESTime}}</b>
              </span>
            </div>
          </div>
          <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isPlanAndTreatment">

            <!-- Plan -->
            <div class="card-header">
              <div (click)="isPlan = !isPlan">
                <strong>Plan</strong>
              </div>
            </div>
            <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isPlan">
              <div *ngIf="item.Plan">
                <div class="row" *ngIf="item.Plan.QDiet !== null">
                  <div class="col-md-3">
                    <strong>Advice diet control</strong>
                  </div>
                  <div class="col-md-9">{{item.Plan.QDiet}}</div>
                </div>
                <div class="row" *ngIf="item.Plan.QDietText !== null">
                  <div class="col-md-3"></div>
                  <div class="col-md-9">{{item.Plan.QDietText}}</div>
                </div>
                <br>

                <div class="row" *ngIf="item.Plan.QExercise !== null">
                  <div class="col-md-3">
                    <strong>Advice exercise</strong>
                  </div>
                  <div class="col-md-9">{{item.Plan.QExercise}}</div>
                </div>
                <div class="row" *ngIf="item.Plan.QExerciseText !== null">
                  <div class="col-md-3"></div>
                  <div class="col-md-9 *ngIf=item.Plan.QExerciseText">{{item.Plan.QExerciseText}}</div>
                </div>
                <br>

                <div class="row" *ngIf="item.Plan.QSleepText !== null">
                  <div class="col-md-3">
                    <strong>Sleep</strong>
                  </div>
                  <div class="col-md-9">{{item.Plan.QSleepText}}</div>
                </div>
                <div class="row" *ngIf="item.Plan.QPlanText !== null">
                  <div class="col-md-3">
                    <strong>Other</strong>
                  </div>
                  <div class="col-md-9">{{item.Plan.QPlanText}}</div>
                </div>
              </div>
            </div>
            <!-- End Plan -->

            <!-- Treatment -->
            <div class="card-header">
              <div (click)="isTreatment = !isTreatment">
                <strong>Treatment</strong>
              </div>
            </div>
            <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isTreatment">
              <div *ngIf="item.Treatment">
                <div *ngIf="item.Treatment.Medications.length > 0">
                  <div class="row">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Medication</th>
                          <th scope="col">Dose</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let medication of item.Treatment.Medications">
                          <td>{{medication.ARCIM_Desc}}</td>
                          <td>{{medication.QDose}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <br>

                <div class="row" *ngIf="item.Treatment.QSupplementW !== 0 && item.Treatment.QSupplementM !== 0 && item.Treatment.QSupplement !== null">
                  <div class="col-md-3">
                    <strong>Supplement</strong>
                  </div>
                  <div class="col-md-1">{{item.Treatment.QSupplementW}}</div>
                  <div class="col-md-1">
                    <strong>week</strong>
                  </div>
                  <div class="col-md-1">{{item.Treatment.QSupplementM}}</div>
                  <div class="col-md-2">
                    <strong>month</strong>
                  </div>
                  <div class="col-md-1">
                    <strong>Note:</strong>
                  </div>
                  <div class="col-md-3">
                    {{item.Treatment.QSupplement}}
                  </div>
                </div>
                <br>

                <div class="row" *ngIf="item.Treatment.QFollowUpPhoneW !== 0 && item.Treatment.QFollowUpPhoneM !== 0">
                  <div class="col-md-3">
                    <strong>Follow up by phone</strong>
                  </div>
                  <div class="col-md-1">{{item.Treatment.QFollowUpPhoneW}}</div>
                  <div class="col-md-1">
                    <strong>week</strong>
                  </div>
                  <div class="col-md-1">{{item.Treatment.QFollowUpPhoneM}}</div>
                  <div class="col-md-2">
                    <strong>month</strong>
                  </div>
                </div>
                <br>

                <div class="row" *ngIf="item.Treatment.QFollowUpW !== 0 && item.Treatment.QFollowUpMonth !== 0">
                  <div class="col-md-3">
                    <strong>Follow up</strong>
                  </div>
                  <div class="col-md-1">{{item.Treatment.QFollowUpW}}</div>
                  <div class="col-md-1">
                    <strong>week</strong>
                  </div>
                  <div class="col-md-1">{{item.Treatment.QFollowUpMonth}}</div>
                  <div class="col-md-2">
                    <strong>month</strong>
                  </div>
                </div>

              </div>
            </div>
            <!-- End Treatment -->

          </div>
          <!-- End Plan and Treatment -->

        </div>
      </div>
    </div>
  </div>
</div>
