<ng-container *ngIf="this.patietnService.documentFilter">
  <div *ngFor="let item of this.patietnService.documentFilter.TypeFilters">
    <div class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">{{item.TypeName}}</div>
    <div class="list-group list-group-accent" *ngFor="let doc of item.Documents">
        <a [routerLink]='["/"]' >
          <div class="list-group-item list-group-item-accent-warning list-group-item-divider">
            <div class="avatar float-right">
              <img class="img-avatar" src="" alt="">
            </div>
            <div>
              <strong>{{doc.DateCreated | date: 'dd/MM/yyyy'}}</strong>
            </div>
            <small class="text-muted">
              <i class="icon-location-pin"></i> {{doc.SADST_Desc}}
            </small><br>
            <small class="text-muted mr-3" *ngIf="doc.Notes">
                <i class="icon-notebook"></i> {{doc.Notes}}
              </small>
          </div>
        </a>
    </div>
  </div>
</ng-container>
