<div *ngIf="this.episodeService.documentFilter.Doctors?.length > 0">
  <div class="list-group" *ngFor="let item of this.episodeService.documentFilter.Doctors">
    <accordion>
      <accordion-group>
        <button class="btn btn-link btn-block clearfix" accordion-heading>
          <div class="pull-left float-left">{{item.DoctorName}}</div>
          <span class="badge badge-secondary float-right pull-right">{{item.Documents?.length}}</span>
        </button>
        <accordion>
          <accordion-group *ngFor="let document of item.Documents">
            <button class="btn btn-link btn-block clearfix" accordion-heading (click)="setIsPdf(document.ContentType)">
              <div class="pull-left float-left">
                {{document.DateCreated | date: 'dd/MM/yyyy'}} {{document.TimeCreated}} {{document.Notes}} {{document.DocumentType}}
              </div>
            </button>
            <div class="embed-responsive embed-responsive-4by3" *ngIf="isPdf">
              <iframe class="embed-responsive-item" [src]="sanitizer.bypassSecurityTrustResourceUrl(document.DocumentUrl)" allowfullscreen></iframe>
            </div>
            <div *ngIf="!isPdf">
              <embed [src]="sanitizer.bypassSecurityTrustResourceUrl(document.DocumentUrl)" [type]="document.ContentType" width="100%"
                height="100%">
            </div>
          </accordion-group>
        </accordion>
      </accordion-group>
    </accordion>
  </div>
</div>
