<div class="container-fluid">
  <div class="animated fadeIn col-sm-12 col-lg-12" *ngIf="this.episodeService.episodeList?.length > 0">
    <div class="row">
      <div class="col-md-12">
        <!-- Nav tabs -->
        <tabset>
          <tab *ngFor="let epi of this.episodeService.episodeList" [active]="epi.active">
            <ng-template tabHeading>
              <div (click)="setDoctorPanelDisplay(epi.PAADM_RowID); setEpisodeActive(epi.PAADM_RowID)">
                <i class="icon-note"></i>
                {{epi.PAADM_ADMNo}}&nbsp;&nbsp;
                <i class="fa fa-thumb-tack" (click)="addEpisodePin(epi)" [ngClass]="{'pin': epi.pin, 'unpin': !epi.pin}"></i>&nbsp;&nbsp;
                <i class="fa fa-times" (click)="removeEpisodePin(epi)"></i>
              </div>
            </ng-template>
            <div class="container">
              <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-1 lead">DocScan</div>
                <div class="col-sm-1">
                    <label class="switch switch-pill switch-label switch-outline-primary-alt">
                      <input type="checkbox" class="switch-input" checked>
                      <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                    </label>
                </div>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-1">
                  <a target="_blank" href="http://10.90.10.34/ReportTK/ExportReport.aspx?Reportname=OPD_Record&HN={{this.patientService.patientInfoVM.PatientInfo.PAPMI_No}}&EN={{epi.PAADM_ADMNo}}&User=&Careprov=0">
                    <button type="button" class="btn btn-dark">
                      OPD Record
                    </button>
                  </a>
                </div>
                <div class="col-sm-1">
                </div>
              </div>
            </div>
            <br>
            <div class="container">
              <app-scan-documents></app-scan-documents>
            </div>
            <br/>
            <div>
              <app-epr-doctor-panel></app-epr-doctor-panel>
            </div>
          </tab>
        </tabset>
      </div>
      <!--/.col-->
    </div>
  </div>
</div>
